.post-block,
.header-inner,
.sidebar-inner,
.comments,
.gitment-editor-body textarea,
.gitment-editor-tab.gitment-selected {
  background: rgba(255,255,255,.5) !important;
}

.post-copyright {
  background-color: rgba(249,249,249,.5);
}

.sidebar {
  background: rgba(238,238,238,0);
}

.site-meta {
  background: rgba(34,34,34,.95);
}

.post-body > table {
  background: rgba(255,255,255,0.96);
}

.site-author-image {
  border: 1px solid rgba(38,38,38,.1);
}

hr {
  background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,.2), rgba(0,0,0,.2) 4px, transparent 4px, transparent 8px);
}

code {
  background: rgba(27, 31, 35, 0.1);
  padding-left: 5px;
  padding-right: 5px;
}

.gitment-editor-main::after,
.gitment-comment-main::after {
  border-right-color: rgba(255,255,255,.5) !important;
}

blockquote {
  color: #777;
  border-left: 4px solid #ccc;
  background: rgba(255,255,255,.4);
}

.post-nav {
  border-top: 1px dashed rgba(0,0,0,.2);
}

.site-state-item {
  border-left: 1px solid rgba(0,0,0,0.16);
}

.feed-link {
  border-top: 1px dotted rgba(0,0,0,0.16);
  border-bottom: 1px dotted rgba(0,0,0,0.16);
}

.menu .menu-item a:hover,
.menu-item-active a {
  background: rgba(249,249,249,.5);
  border-bottom-color: transparent;
}

.back-to-top {
  background: rgba(200,200,200,.5);
}