.post-body .book-info {
  .book-details {
    font-size: 14px;
    color: #888;
  }
}


@media (min-width: 1280px) {
  .post-body .book-info {
    margin-top: 2em;

    .book-cover {
      float: left;
    }

    .book-details {
      float: left;
      padding: 3px;
      margin-left: 1em;
      font-size: 14px;
      color: #888;
    }
  }
}